blockquote {
    color: #999;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6c;
}

.alert-info {
		color: #31708f;
		background-color: #d9edf7;
		border-color: #bce8f1;
}

.book-menu nav {
  position: static;
}
